<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <!-- <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> -->
    <title>To Do App</title>
</head>

<body>
    <div class="headings">
        <h1>To Do App</h1>
        <h3>Makes Your Life Easy😉</h3>

    </div>
    
    <div class="todo_table">
        <ul>
            {% for todo in todo_list %}
            <li>{{ todo.id }} | {{ todo.task }} | {% if todo.complete == True %}Completed{% else %}Not Completed{% endif %} <a href="/update/{{ todo.id }}">Update</a><a href="/delete/{{ todo.id }}">Delete</a></li>
            {% endfor %}
        </ul>

    </div>
        
    <div class="form">
        <form action="/add" method="post">     <!-- form data will be sent to the /add route name="title" gives the input field a name attribute, which will be used to access the input's value in your Flask route. -->
                <input type="text" name="task" placeholder="Enter Task...">
                <button type="submit">Add</button>

            </form>
    </div>

    




</body>
</html>